/* article list */
.article_list li {
  margin-bottom: 70px;
}

/* article blog page */
.article_main {
	width: 1060px;
	margin: 90px auto 60px;
	min-height: 400px;
	height: auto !important;
	height: 400px;
}
.article_content {
	margin-bottom: 80px;
	width: 680px;
	float: left;
	padding: 30px;
}
.article_content .article_title, .article_content .article_title a {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 6px;
	text-align: center;
	word-wrap: break-word;
}
.article_date {
	text-align: center;
	color: #FFFCFC;
	margin-bottom: 60px;
	font-size: 14px;
}

.shadow {
	box-shadow: 0 2px 6px #ccc;
	-moz-box-shadow: 0 2px 6px #ccc;
	-webkit-box-shadow: 0 2px 6px #ccc;
	/* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#ffffff')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#ffffff');
}