<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html class="no-js iem7" lang="en"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> 
<html class="no-js" lang="en"> 
<!--<![endif]-->
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/pygment_trac.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/print.css" media="print" />

        <script type="text/javascript" src="/js/modernizr-2.0.6.min.js"></script>
        
        <title>{% if page.title %}{{ page.title }} | {% endif %} {{ site.title }}</title>
    </head>
    <body>
        {{ content }}
    </body>
</html>